.searchHeader {
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
  }
.searchContent {
background-color: #ffffff;
border: 1px solid #e6e6e6;
padding: 16px 24px;
}
.searchBoxAccount{
    padding-left: 0px !important;
    padding-right: 0px !important;
}