$body-font-family: "Be Vietnam";

// Colours
$primary: #f16b31;

$secondary: #4f4d51;

$tertiary: #353535;

$blue-1: #303fc6; // for buttons
$blue-2: #5463e7; // for buttons hover/active
$blue-3: #cdeaf9; // for icons, errors and others
$blue-4: #e7f7ff;
$blue: $blue-1;

$denim-1: #7c86a2;
$denim-2: #6b7696;
$denim: $denim-2;

$grey-1: #f3f3f3;
$grey-2: #d8d8d8;
$grey-3: #b1b1b1;
$grey-4: #767676;
$grey-5: #6b7696;
$grey: $grey-1;
$light-grey: #e9e9e9;

$green: #008540; // success
$orange: #e6641e; // warning
$red-1: #e72216; // tomato - for errors
$red-2: #fbd9d7; // tomato light
$red: $red-1;

$white: #fff;
$white-1: #f8f8f8; // main background colour
$white-2: #f5f6ff; // bluish white for secondary button background

$black: #000;
$black-1: #010101; // main background colour
$black-2: #020202; // bluish white for secondary button background
